datasets
kagglehub
pandas
numpy
faiss-cpu
sentence-transformers
ollama
sacrebleu
rouge-score
bert-score
medcon
matplotlib
seaborn
cerebras-cloud-sdk
torch
torchvision
torchaudio --extra-index-url https://download.pytorch.org/whl/cu118
dotenv
logger